.resources-filter-mobile {
  background: #fff;
  border-bottom: 1px solid rgba(235, 235, 235, 1);
  border-top: 1px solid rgba(235, 235, 235, 1);
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  width: 100%;
  align-self: flex-start;
}

.filter-search-mobile {
  width: 100%;
  padding-bottom: 1em;
}

.ant-dropdown-trigger {
  margin-left: 0.3em;
  margin-right: 0.3em;
}

.dropdown-filter {
  margin-left: 4%;
}

.button-mobile {
  border-radius: 20em;
  width: 7em;
  font-size: 0.9em;
  height: 2em;
}

.button-mobile:hover,
.button-mobile:focus {
  background-color: #431c72;
  border-color: #fff;
  color: #fff;
}

.radio {
  display: block;
  height: 3em;
  line-height: 3em;
}

.radio-container {
  background: #fff;
  box-shadow: 1px 1px 3px grey;
  padding-bottom: 1em;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 1em;
  text-align: left;
}

.title {
  text-align: center;
}
