.filter-category {
  font-size: 20px;
  padding-top: 0.4em;
  margin-top: 0.4em;
  margin-left: 1em;
  margin-right: 1em;
}

.filter-type {
  text-indent: 1em;
  margin-bottom: 0.4em;
  border-width: 0.1em;
}

.apply-button {
  text-align: center;
  margin-top: 1em;
}
