.vscode
node_modules
package-lock.json
.DS_Store
*.log
*.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build/

# api
./api/.env
./api/src/logs

# auth
./auth/node_modules
./auth/.env
./auth/.docz
./auth/package-lock.json
./auth/yarn-error.log
./auth/.DS_Store
./auth/lib


# auth/
./auth/amplify/\#current-cloud-backend
./auth/amplify/.config/local-*
./auth/amplify/backend/amplify-meta.json
./auth/amplify/backend/awscloudformation
./auth/build/
./auth/dist/
./auth/aws-exports.js
./auth/awsconfiguration.json
