.dynamic-delete-button {
  cursor: pointer;
  position: relative;
  top: 4px;
  font-size: 24px;
  color: #999;
  transition: all 0.3s;
}
.dynamic-delete-button:hover {
  color: #777;
}
.dynamic-delete-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}
[data-theme='dark'] .dynamic-delete-button {
  color: rgba(255, 255, 255, 0.45);
}
[data-theme='dark'] .dynamic-delete-button:hover {
  color: rgba(255, 255, 255, 0.65);
}

.edit-home-form-layout .ant-legacy-form-item {
  margin: 0 0 1em;
}

.edit-home-form-layout .header {
  display: block;
  background-image: linear-gradient(70deg, #431c72 0%, #6a3e9e 97%);
  padding-top: 3em;
  padding-bottom: 3em;
  height: auto;
}

.edit-home-form-layout .header h2 {
  color: white;
}

.edit-home-form {
  background-color: white;
}
