.filter-component {
  width: 800px;
  height: 500px;
  border: 2px solid black;
}

.dropdowns-container {
  float: left;
  width: 30%;
  border: 2px solid black;
  height: 100%;
}

.dropdowns-container ButtonDropdown {
  width: 100%;
  display: block;
}

.filter-preview-container {
  display: inline-block;
}

.filter-component__filters {
  border: 2px solid black;
}
