.home-block-1 {
  background-size: cover;
  background-position: top;
  height: 96vh;
  opacity: 1;
}

.welcome-text {
  color: #fff;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.75;
  padding-left: 8%;
  padding-bottom: 6%;
}

.welcome-text-bold {
  color: #fff;
  font-weight: 600;
  font-size: 65px;
  line-height: 1.25;
}

.welcome-text-link {
  color: rgb(136, 216, 208);
  font-weight: 600;
  font-size: 65px;
  line-height: 1.25;
  padding-left: 12px;
}

.welcome-text-link:hover {
  text-decoration: none;
  color: rgb(140, 200, 255);
}

.home-block-1 .ant-btn-primary {
  background-color: rgb(136, 216, 208);
  border-color: rgb(136, 216, 208);
  font-size: 18px;
  width: 250px;
  height: 40px;
  font-weight: 600;
}

.home-block-1 .ant-btn-primary:hover {
  background-color: rgb(136, 216, 208);
  border-color: rgb(136, 216, 208);
}

.home-block-2 {
  overflow: auto;
  padding-top: 5vh;
  padding-bottom: 5vh;
  min-height: 50vh;
}

.home-block-2-divider {
  border-right: 2px solid rgb(136, 216, 208);
  line-height: 600%;
}

.home-block-2-left {
  font-size: 34px;
  text-align: center;
  font-weight: 600;
}

.home-block-2-right {
  margin-left: 5%;
  font-size: 18px;
}

.home-block-3 {
  height: 60vh;
  background-image: linear-gradient(70deg, #4f2c93 0%, #7848b1 97%);
  background-size: cover;
  background-position: center;
  overflow: auto;
}

.testimonial-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.testimonial-text h2,
.testimonial-text h4 {
  color: #fff;
}

.testimonial-text p {
  color: #fff;
  font-size: 20px;
}

.home-block-4 {
  padding-top: 5vh;
  padding-bottom: 5vh;
  text-align: center;
  font-weight: 500;
}

.home-block-4-partner,
.home-block-4-partner-name {
  margin-right: 1em;
  margin-left: 1em;
}

.home-block-4-partner img {
  padding-top: 2vh;
  width: 60%;
  height: 60%;
}

.home-block-4-partner h5 {
  transition: opacity 1s;
}

.home-block-4-title {
  font-weight: 600;
  color: #212529;
}

.home-block-1 .ant-btn > span {
  line-height: 2.4;
}

.home-block-1 .ant-col-14 {
  margin-top: -0.3em;
}

.home-block-3 .ant-carousel .slick-dots li.slick-active {
  height: 16px;
}

.home-block-3 .ant-carousel .slick-dots li button {
  background-color: white;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

.home-block-3 .ant-carousel .slick-dots li.slick-active button {
  background-color: white;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

@media (max-width: 700px) {
  .welcome-text-mobile {
    color: #fff;
    font-weight: 400;
    line-height: 1.25;
    width: 80vw;
    text-align: center;
    font-size: 25px;
  }

  .welcome-text-mobile-bold {
    color: #fff;
    font-weight: 600;
    line-height: 1.25;
    width: 60vw;
    text-align: center;
    font-size: 35px;
    margin-bottom: 0.1em;
  }

  .welcome-text-mobile-link {
    color: rgb(136, 216, 208);
    font-weight: 600;
    line-height: 1.25;
    width: 60vw;
    text-align: center;
    font-size: 50px;
  }

  .welcome-text-mobile-link:hover {
    text-decoration: none;
    color: rgb(140, 200, 255);
  }

  .welcome-to {
    margin-bottom: 0.5em;
  }

  .welcome-carousel {
    margin-bottom: 0.9em;
  }

  .home-block-1 {
    height: 100vh;
  }

  .home-block-1 .ant-btn-primary {
    background-color: rgb(136, 216, 208);
    border-color: rgb(136, 216, 208);
    border-radius: 15px;
    font-size: 18px;
    width: 200px;
    height: 40px;
    font-weight: 600;
  }

  .home-block-1 .ant-btn-primary:hover {
    background-color: rgb(136, 216, 208);
    border-color: rgb(136, 216, 208);
  }

  .home-block-2 {
    padding-top: 0;
    padding-bottom: 90px;
  }

  .home-block-4 {
    padding-top: 0;
  }

  .home-block-2-top-text {
    height: 10%;
    margin-bottom: 3vh;
    padding-left: 3vw;
    padding-right: 5vw;
    font-size: 30% !important;
  }

  .home-block-2-top-text strong,
  .home-block-4-title strong {
    font-size: 30%;
  }

  .home-block-4-title {
    padding-bottom: 30px;
  }

  .home-block-2-bottom-text {
    padding-left: 3vw;
    padding-right: 3vw;
  }

  .home-block-3 {
    height: 100vh;
    overflow: auto;
  }

  .home-block-3 .ant-carousel .slick-dots li.slick-active {
    width: 16px;
  }

  .testimonial-block {
    height: 75vh;
  }
  .testimonial-block-top-img {
    margin-top: 5vh;
    width: 40vw;
    border-radius: 50%;
    margin-bottom: 2vh;
  }
  .testimonial-block-bottom h1,
  .testimonial-block-bottom h3,
  .testimonial-block-bottom p {
    text-align: center;
    color: #fff;
    padding-left: 10vw;
    padding-right: 10vw;
  }
  .testimonial-block-bottom p {
    font-size: 2.5vh;
  }

  .home-block-4 {
    padding-left: 3vw;
  }

  h3 {
    font-size: 150% !important;
  }
}
