.home-block-1 {
  background-image: radial-gradient(
      50% 141%,
      rgba(25, 132, 202, 0.6) 1%,
      rgba(105, 62, 158, 0.6) 100%
    ),
    url('../imgs/homePage/headerImg.jpg');
  background-size: cover;
  height: 70vh;
  opacity: 1;
}

.welcome-text {
  color: white;
  font-weight: bold;
}

.home-block-1 .ant-btn-primary {
  background-color: rgb(136, 216, 208);
  border-color: rgb(136, 216, 208);
  margin-top: 10px;
  width: 100%;
}

.home-block-2 {
  height: 60vh;
}

.home-block-2__left {
  border-right: 2px solid rgb(136, 216, 208);
  height: 50%;
}

.home-block-2__left .home-block-2__left__text {
  height: 100%;
}

.home-block-2__right {
  margin-left: 5%;
}

.home-block-3 {
  height: 70vh;
  background-image: url('../imgs/homePage/testimonial.png');
  background-size: cover;
}

.testimonial-block__left__img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.testimonial-block__right h1,
.testimonial-block__right h3 {
  color: white;
}

.testimonial-block__right p {
  color: white;
  font-size: 2.5vh;
}

.home-block-4 {
  height: 70vh;
}

.home-block-4__partner img {
  width: 80%;
  height: 80%;
}
