.home-block-1 {
  background-image: radial-gradient(
      70% 141% at 0 0,
      rgba(25, 132, 202, 0.6) 1%,
      rgba(105, 62, 158, 0.6) 100%
    ),
    url('/asset/images/splash.jpg');
  background-size: cover;
  background-position: top;
  height: 96vh;
  opacity: 1;
}

.welcome-text {
  color: #fff;
  font-weight: 600;
  font-size: 65px;
  line-height: 1.25;
  padding-left: 8%;
  padding-bottom: 6%;
}

.home-block-1 .ant-btn-primary {
  background-color: rgb(136, 216, 208);
  border-color: rgb(136, 216, 208);
  font-size: 18px;
  width: 80%;
  height: 40px;
  font-weight: 600;
}

.home-block-2 {
  overflow: auto;
  padding-top: 5vh;
  padding-bottom: 5vh;
  min-height: 50vh;
}

.home-block-2-divider {
  border-right: 2px solid rgb(136, 216, 208);
  line-height: 600%;
}

.home-block-2-left {
  font-size: 34px;
  text-align: center;
  font-weight: 600;
}

.home-block-2-right {
  margin-left: 5%;
  font-size: 18px;
}

.home-block-3 {
  height: 60vh;
  background-image: url('/asset/images/background.png');
  background-size: cover;
  background-position: center;
  overflow: auto;
}

.testimonial-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.testimonial-text h2,
.testimonial-text h4 {
  color: #fff;
}

.testimonial-text p {
  color: #fff;
  font-size: 20px;
}

.home-block-4 {
  padding-top: 5vh;
  padding-bottom: 5vh;
  text-align: center;
  font-weight: 500;
}

.home-block-4__partner img {
  padding-top: 2vh;
  width: 60%;
  height: 60%;
}

.home-block-4-title {
  font-weight: 600;
  color: #212529;
}
