.ant-form-item {
  margin-bottom: 1em;
}

.login-block-1 {
  background: url('/asset/images/login-background.png');
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
}

.login-text {
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 36px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.form-text {
  font-weight: lighter;
  font-size: 16px;
}

p {
  margin: 0;
  padding: 10;
  font-size: 12px;
  color: #8bd8d0;
}

.white-text {
  color: #fff;
  display: inline-block;
}

.red-text {
  color: #b7161f;
}

.login-form {
  max-width: 25%;
  margin: 0 auto;
}

.login-form-forgot {
  color: #8bd8d0;
  float: right;
}

.login-form-forgot:hover {
  color: #74cec8;
}

.login-form-register-now {
  color: #8bd8d0;
}

.login-form-register-now:hover {
  color: #74cec8;
}

.login-form-checkbox .ant-checkbox-inner {
  background-color: #8bd8d0;
  border-color: #8bd8d0;
}

.login-form-button {
  width: 100%;
  background-color: #8bd8d0;
  border: 2px solid #8bd8d0;
  font-weight: bolder;
  font-size: 15px;
}

.login-form-button:hover {
  background-color: #74cec8;
}

.has-error .ant-form-explain,
.has-error .ant-form-split {
  color: #b7161f;
  font-weight: 400;
}
