.login-block-1 {
  background-image: url('/asset/images/login-background.png');
  background-size: cover;
  margin-top: 0;
  height: 1024px;
  opacity: 1;
}
.top-margin {
  margin-top: 216px;
}
.container img {
  width: 1%;
}
.login-text {
  color: white;
  font-weight: bold;
  font-size: 40px;
  font-family: 'Avenir Black';
  margin-top: 20px;
  margin-bottom: 20px;
}
.form-text {
  font-family: 'Avenir Light';
  font-weight: lighter;
  font-size: 16px;
}

p {
  margin: 0;
  padding: 10;
  font-size: 12px;
  color: #8bd8d0;
}

.login-form {
  max-width: 350px;
  max-height: 200px;
  margin-left: auto;
  margin-right: auto;
}
.login-form-forgot {
  color: #8bd8d0;
  float: right;
}
.login-form-forgot:hover {
  color: #74cec8;
}
.login-form-register-now {
  color: #8bd8d0;
}
.login-form-register-now:hover {
  color: #74cec8;
}
.login-form-checkbox .ant-checkbox-inner {
  background-color: #8bd8d0;
  border-color: #8bd8d0;
}
.login-form-button {
  width: 100%;
  background-color: #8bd8d0;
  border: 2px solid #8bd8d0;
  font-family: 'Avenir Light';
  font-weight: bolder;
  font-size: 15px;
}

.login-form-button:hover {
  background-color: #74cec8;
}
