.login-block-1 {
  background: url('/asset/images/login-background.png');
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
}

.first-row-margin {
  margin-top: 15vh;
  width: 12em;
}

.container img {
  width: 100%;
}

.login-text {
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-text {
  font-weight: lighter;
  font-size: 16px;
}

p {
  margin: 0;
  padding: 10;
  font-size: 12px;
  color: #8bd8d0;
}

.white-text {
  color: #fff;
  display: inline-block;
}

.less-red-text {
  color: #b7161f;
}

.login-form {
  max-width: 350px;
  max-height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.login-form-forgot {
  color: #8bd8d0;
  float: right;
}

.login-form-forgot:hover {
  color: #74cec8;
}

.login-form-register-now {
  color: #8bd8d0;
}

.login-form-register-now:hover {
  color: #74cec8;
}

.login-form-checkbox .ant-checkbox-inner {
  background-color: #8bd8d0;
  border-color: #8bd8d0;
}

.login-form-button {
  width: 100%;
  background-color: #8bd8d0;
  border: 2px solid #8bd8d0;
  font-weight: bolder;
  font-size: 15px;
}

.login-form-button:hover {
  background-color: #74cec8;
}
