.mapview-entry {
  width: 300px;
  align-items: center;
}

.mapview-dot {
  position: relative;
  left: 5px;
}

.mapview-address {
  position: relative;
  left: 10px;
  width: 110px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mapview-languages {
  position: relative;
  left: 10px;
  width: 160px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mapview-bar {
  height: 80px;
}

.mapview-arrow {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 80px;
}

.mapview-caret {
  color: #ffffff;
  position: relative;
  top: 30px;
}
