.entry {
  width: 300px;
  align-items: center;
}

.row {
  justify-content: left;
  position: relative;
  left: 15px;
}

.second-element {
  position: relative;
  left: 5px;
}

.third-element {
  position: relative;
  left: 10px;
  width: 110px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.bar {
  height: 80px;
}

.arrow {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 80px;
}

.caret {
  color: #ffffff;
  position: relative;
  top: 30px;
}
