.card {
  width: 350px;
  height: 600px;
  border-radius: 25px;
  position: absolute;
  overflow-x: hidden;
  overflow-y: scroll;
}

.cover {
  border-radius: 25px 25px 0px 0px;
}

.top-row {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 110%;
  color: #1890ff;
}

.icon-pair {
  display: flex;
  justify-content: center;
}

.main-icon {
  font-size: 250%;
}

.grid-item {
  font-size: 125%;
}

.grid-text {
  position: relative;
  top: 5px;
}

.close {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #ff0000;
  font-size: 250%;
}
