@import '~antd/dist/antd.css';

.navigation {
  background: white;
  position: sticky;
  top: 0;
  z-index: 5;
  padding-top: 0.5em;
}

.navigation .logo {
  background-color: #ffffff;
  background-image: url('/asset/icon/logo192.png');
  background-position: center;
  background-size: cover;
  float: left;
  height: 32px;
  margin-top: 0.5em;
  width: 32px;
}

.navigation .ant-menu-horizontal {
  border-bottom: none;
}

.navigation .ant-menu-horizontal {
  float: left;
}

.navigation .ant-menu-horizontal > .ant-menu-item,
.ant-menu-horizontal > .ant-menu-item:hover {
  border-bottom: none;
  font-weight: normal;
}
