.icon {
  margin-top: 15vh;
  width: 12em;
}

.register-block-1 {
  background-image: url('/asset/images/login-background.png');
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
}

.reg-button {
  background-color: #8bd8d0;
  border: 2px solid #8bd8d0;
  margin: 0 auto;
  width: 33%;
}

.reg-button:hover {
  background-color: #74cec8;
  border: 2px solid #74cec8;
}

.register-text {
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 36px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.form-text {
  font-weight: 600;
  font-size: 15px;
}

.register-form {
  max-width: 80%;
  margin: 0 auto;
}

.form-text .ant-form-item-label > label::after {
  content: '';
}

.form-text .ant-form-item-label > label::before {
  content: '';
}

.form-text .ant-form-item-label > label {
  color: #b7161f;
  font-weight: 400;
}

.ant-select {
  font-weight: normal;
}
