.resourceForm .header {
  display: block;
  background-image: linear-gradient(70deg, #431c72 0%, #6a3e9e 97%);
  padding-top: 3em;
  padding-bottom: 3em;
  height: auto;
}

.resourceForm .header h2 {
  color: white;
}

.resourceForm .content {
  background-color: white;
}

.resourceForm .formLabel {
  background-color: #6bdbd0;
  width: 10em;
  margin-top: 1em;
}

.resourceForm .formLabel p {
  color: white;
  text-align: right;
  padding-right: 1em;
  padding-top: 3px;
  padding-bottom: 3px;
}

.resourceForm label[htmlFor='input'] span {
  color: #6bdbd0;
}

.resourceForm label[htmlFor='input'] {
  color: #492179;
}

.resourceFrom form.Item {
  padding-left: 2em;
}

.resourceForm .form {
  padding-left: 4em;
  padding-right: 4em;
}

.formCarousel {
  margin-left: 10vw;
  margin-right: 10vw;
}

.formCarousel .slick-slide {
  overflow: hidden;
}

.formCarousel .slick-dots-bottom li {
  background: #ccc;
}

.formCarousel .slick-dots li.slick-active button {
  background: #492179 !important;
}

.formCarousel .carouselNextBtn {
  display: inline-block;

  background: #6bdbd0;
  color: white;
  margin: auto;
  border-radius: 0px;
  box-shadow: none;
  border: 0px;
  margin-bottom: 3em;
  margin-left: 34vw;
}