.resource-form .header {
  display: block;
  background-image: linear-gradient(70deg, #431c72 0%, #6a3e9e 97%);
  padding-top: 3em;
  padding-bottom: 3em;
  height: auto;
}

.resource-form .header h2 {
  color: white;
}

.resource-form .content {
  background-color: white;
}

.resource-form .form-label {
  background-color: #6bdbd0;
  width: 10em;
  margin-top: 1em;
  height: 2em;
}

.resource-form .form-label p {
  color: white;
  text-align: right;
  padding-right: 1em;
  padding-top: 3px;
  padding-bottom: 3px;
}

.resource-form label[htmlFor='input'] span {
  color: #6bdbd0;
}

.resource-form label[htmlFor='input'] {
  color: #492179;
}

.resourceFrom form.Item {
  padding-left: 2em;
}

.resource-form .form {
  padding-left: 4em;
  padding-right: 4em;
}

.form-carousel {
  margin-left: 10vw;
  margin-right: 10vw;
}

.form-carousel .slick-slide {
  overflow: hidden;
}

.form-carousel .slick-dots-bottom li {
  background: #ccc;
}

.form-carousel .slick-dots li.slick-active button {
  background: #492179 !important;
}

.carousel-move-btn-container {
}

.carousel-move-btn {
  background: #6bdbd0 !important;
  color: white !important;
  margin: auto;
  border-radius: 0px !important;
  box-shadow: none !important;
  border: 0px !important;
  /* margin-bottom: 3em; */
  margin-left: 44vw;
}

.form-btn {
  background: #6bdbd0 !important;
  color: white !important;
  margin: auto;
  border-radius: 0px !important;
  box-shadow: none !important;
  border: 0px !important;
}
