.resource-preview-border:hover {
  box-shadow: 3px 3px 5px #b6b6b6;
}

.resource-preview-cover-img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.resource-preview-text:hover {
  text-decoration: none;
}

.resource-preview-name {
  display: inline-block;
  max-width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: middle;
  font-size: 18px;
}

.resource-preview-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
}

.resource-preview-info {
  font-size: 16px;
  color: black;
}

.resource-tags {
  white-space: nowrap;
  overflow-x: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.resource-tags::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.resource-tags {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.resource-tag {
  display: inline-block;
}
