.resource-preview-cover {
  display: flex;
  justify-content: center;
}

.resource-preview-cover-img {
  height: 15em;
  width: 100%;
}

.resource-preview-card {
  height: 100%;
  width: 100%;
  width: 22.5em;
}
