.resource-manager-flexbox {
  display: flex;
  flex-direction: column;
}

.resource-manager-header {
  display: flex;
  flex-direction: row;
  padding-left: 2%;
}

.resource-manager-header-title {
  width: 24%;
  font-size: 18px;
  font-weight: 600;
}

.resource-manager-header-breadcrumbs {
  width: 75%;
}

.resource-manager-content {
  display: flex;
  flex-direction: row;
}

.resource-manager-sidebar {
  width: 24%;
  margin-right: 1%;
}

.resource-manager-sidebar-category {
  display: flex;
  justify-content: space-between;
}

.resource-manager-table {
  display: flex;
  width: 75%;
}
