.resource-manager-flexbox {
  display: flex;
  flex-direction: column;
}

.resource-manager-header {
  display: flex;
  flex-direction: row;
  padding-left: 2%;
  padding-bottom: 4px;
}

.resource-manager-header-title {
  flex: 0.24;
  font-size: 18px;
  font-weight: 600;
}

.resource-manager-header-content {
  display: flex;
  flex: 0.76;
  justify-content: space-between;
}

.resource-manager-header-breadcrumb {
  justify-content: center;
}

.resource-manager-header-export {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.resource-manager-content {
  display: flex;
  flex-direction: row;
}

.resource-manager-sidebar {
  width: 24%;
  margin-right: 1%;
}

.resource-manager-sidebar-category {
  display: flex;
  justify-content: space-between;
}

.resource-manager-table {
  display: flex;
  width: 75%;
}
