.resource-detail {
  white-space: pre-line;
}

.resource-name {
  font-weight: 600;
  font-size: 175%;
}

.resource-detail .resource-edit-delete {
  margin-left: 1.5em;
}

.resource-detail .resource-delete {
  margin-left: 0.5em;
}

.resource-detail .ant-row {
  padding: 2% 15%;
}

.resource-detail .section {
  background-color: #fbfbfb;
  margin: 0 auto;
}

.resource-detail .header-info {
  float: right;
}

.resource-detail .section-label {
  padding-top: 30px;
  font-weight: 600;
}

.resource-detail .ant-card {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5%;
  margin-right: 5%;
  height: 190px;
}

.resource-detail .card-row {
  padding-top: 0px;
}

.resource-detail .ant-card-bordered {
  border: 1px solid #cacaca;
}

.resource-detail .card-label {
  font-weight: 600;
  padding-bottom: 5px;
}

.resource-detail .day-label {
  padding-top: 20px;
}

.resource-detail .anticon {
  vertical-align: 0.1em;
}

.resource-detail .header-info .anticon {
  height: 20px;
  padding-right: 15px;
  color: rgb(100, 100, 100);
}

.resource-detail .header-info .anticon-star {
  font-size: 150%;
  padding-right: 8px;
}

.resource-detail .filled-star {
  color: rgb(255, 191, 67);
}

.resource-detail .unfilled-star {
  color: rgb(216, 216, 216);
}

.resource-detail .ant-card-body {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 24px;
  padding-right: 24px;
}

.resource-detail .banner {
  padding: 0;
  height: 15vh;
  background-image: url('https://nawc-staging.vercel.app/asset/images/background.png');
  background-size: cover;
  color: #fff;
  font-size: 18px;
}

.resource-detail .day-of-week {
  font-weight: 600;
}

.resource-detail .open-now {
  font-weight: 600;
  color: rgb(1, 186, 23);
}

.resource-detail .financial-aid-subtitle {
  font-weight: 450;
}

.resource-detail .recommended-contacts-label {
  font-weight: 600;
}

.resource-detail .recommended-contacts-row {
  padding-top: 0px;
}

.resource-detail .recommended-contacts-info {
  color: #707070;
}
