.ant-menu {
  border-right: initial;
  color: black;
}

.ant-menu-item:hover, .ant-menu-item-active {
  color: black;
  font-weight: bold;
}

.ant-menu-item-selected {
  color: black;
  font-weight: bold;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: white;
}

.ant-menu-inline .ant-menu-item::after {
  border-right: initial;
}

.ant-menu-submenu-active, .ant-menu-submenu-title:hover {
  color: black;
  font-weight: bold
}

.ant-menu-submenu-open {
  font-weight: bold;
}

.ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before {
  background: black;
}

.ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after {
  background: black;
}

.ant-menu-submenu-open .ant-menu-item {
  color: gray;
  font-weight: normal;
}

.ant-menu-sub .ant-menu-item-selected {
  color: gray;
  font-weight: bold;
}

.ant-menu-submenu-open .ant-menu-item:hover, .ant-menu-item-active {
  font-weight: bold;
}

.ant-menu-submenu-selected {
  color: black;
}

.filter-sider {
  background: white;
  margin-top: 1em;
  position: sticky;
  top: 9.5em;
}